body{
    background: #fff1d9;
    font-family:Avenir W01, futura, Lucida grande, sans-serif !important;
}

.fa-border {
    padding: .2em .25em .15em;
    border: solid .08em #008f95;
    border-radius: .1em;
    width: 100px;
}

.fa-bell-slash, .fa-shopping-cart{
    color: #008f95;
    border-color: #008f95;
}

.fa-university,.fa-sticky-note{
    color: #e24e42;
    border-color: #e24e42;
}

.fa-trash,.fa-car{
    color: #e9b000;
    border-color: #e9b000;
}

.fa-shopping-cart:hover,
.fa-shopping-cart:hover,
.fa-university:hover,
.fa-car:hover,
.fa-sticky-note:hover,
.fa-trash:hover,
.fa-bell-slash:hover{
    color: #eb6e80;
    background: rgba(0, 0, 0, 0.17);
    border-color: black;
}

.fa-user-circle-o{
    color: #eb6e80;
    align-self: center;
}

tr.icons > td{
    padding-bottom: 1.5%;
}

.dropbtn {
    background-color: #fff1d9;
    color: #fff1d9;
    font-size: 16px;
    border: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #fff1d9;
}
#myInput {
    border-box: box-sizing;

    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(254, 166, 128, 0.68);
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: rgba(235, 110, 128, 0.65)
}

.show {display:block;}