* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background:#fff1d9;
  font-family: "Avenir W01", "futura", "Lucida grande", sans-serif;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -205px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top: 30px solid #feffef;
  z-index: 3;
}

.wheel {
  background-color: white;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #feffef;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px #fff3dd;
}

.wheel__segment:nth-of-type(1n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid rgba(0, 143, 149, 0.65);
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.wheel__segment:nth-of-type(2n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #e24e42;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.wheel__segment:nth-of-type(3n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #e9b000;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.wheel__segment:nth-of-type(4n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #eb6e80;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wheel__segment:nth-of-type(5n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #fea680;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.wheel__segment:nth-of-type(6n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #e24e42;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.wheel__segment:nth-of-type(7n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #e9b000;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wheel__segment:nth-of-type(8n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #ffa2c0;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.wheel__segment:nth-of-type(9n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #eb6e80;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.wheel__segment:nth-of-type(10n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid rgba(0, 143, 149, 0.65);
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.wheel__segment:nth-of-type(11n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #ffa2c0;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.wheel__segment:nth-of-type(12n) {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 54px;
  border-right-width: 54px;
  border-top: 200px solid #fea680;
  left: 50%;
  position: absolute;
  margin-left: -54px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.number {
  color: #fff1d9 ;
  font-family: "Avenir W01", "futura", "Lucida grande", sans-serif;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -190px;
}
.number:nth-of-type(2n) {
  top: -145px;
  font-size: 45px;
}
.number:nth-of-type(3n) {
  top: -105px;
  font-size: 40px;
}
.number:nth-of-type(4n) {
  top: -70px;
  font-size: 30px;
}

.reset-btn {
  background: -webkit-linear-gradient(#eb6e80, rgba(234, 101, 137, 0.72), #eb6e80);
  padding: 10px 50px;
  border: 0px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px;
  color: #fff1d9 ;
  font-weight: 900;
  font-family: "Avenir W01", "futura", "Lucida grande", sans-serif;
  text-transform: uppercase;
  }
.reset-btn:focus {
  outline: none;
}
.reset-btn:disabled {
  box-shadow: none;
  opacity: 0.5;
  color: grey;
}
.reset-btn:active {
  box-shadow: none;
}


.fa-th-list{
  color: #008f95;
}

.fa-calendar{
  color: #e9b000;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
}

.fa-calendar:hover, .fa-th-list:hover{
  color: #eb6e80;
}
